/* Bouton de retour */

.btn-home {
    width: 100%;
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    padding: 0.8rem 0rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-home span {
    margin: 0 0.5rem;
}

.btn-home a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
