body {
    background: #43c6ac; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f8ffae,
        #43c6ac
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f8ffae,
        #43c6ac
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 40px !important;
        font-weight: 500 !important;
    }
}

@media screen and (max-width: 768px) {
    .list-group {
        align-items: start !important;
        margin-left: 2rem !important;
    }
}

.list-group-item {
    width: fit-content;
    font-size: x-large;
}

.fa-li {
    left: -1.5em;
}
