*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 40px 0 50px 0;
}

h1 {
    font-size: 70px;
    color: #f1f1f1;
    text-align: center;
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
}

form,
.affichage {
    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    min-width: 250px;
}

input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
}

.affichage {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.carte {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border: 1px solid #000;
}

h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}

.cont-infos {
    border-top: 1px dashed #000;
    margin-top: 20px;
    list-style-type: none;
}

li {
    padding: 10px 20px;
    text-align: justify;
    font-size: 22px;
}

li:nth-child(1) {
    margin-top: 15px;
}

.bio {
    display: flex;
}

.infos-label {
    font-weight: bold;
    margin-right: 1rem;
}

@media screen and (max-width: 1200px) {
    .bio {
        flex-direction: column;
    }
    .bio > .infos-label {
        margin-right: 0;
    }
}
