*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-width: 790px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        to right,
        #333,
        rgba(78, 77, 77)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    text-align: center;
    margin: 30px 0 50px;
}

h1 {
    font-size: 40px;
    color: #f1f1f1;
}

main {
    min-height: 600px;
}

.score {
    text-align: center;
    font-size: 40px;
    margin: 30px 0 50px;
    color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .score {
        margin-bottom: 70px;
    }
}

canvas {
    background: #f1f1f1;
    display: block;
    margin: 0 auto;
}
