*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-width: 320px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        to right,
        #283048,
        #859398
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f1f1f1;
}

header,
h2 {
    margin: 50px auto 0;
}

h1,
h2 {
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width: 425px) {
    h1,
    h2 {
        font-size: 40px;
    }
}

main {
    min-height: 470px;
}

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    width: 300px;
    height: 300px;
    margin: 50px auto;
}

.cell {
    width: 100px;
    height: 100px;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rejouer {
    margin: 2rem auto;
    padding: 1rem;
    font-size: 20px;
    display: none;
    width: 50%;
    border-radius: 5px;
    border: 2px white solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.btn-rejouer:hover,
.btn-rejouer:focus {
    box-shadow: #859398 4px 4px 13px 5px;
}

.btn-rejouer:active,
.btn-rejouer:focus-within {
    box-shadow: inset white 0px 0px 15px 7px;
}
