*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #333;
}

h1 {
    text-align: center;
    padding: 25px 0;
    color: #f1f1f1;
}

.recherche-poke {
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;
}

.inp-group {
    width: 100%;
}

.recherche-poke input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    position: relative;
}

.recherche-poke label {
    position: absolute;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-in;
}

.reset-recherche {
    border: none;
    background: none;
    position: absolute;
    right: 0;
    top: 20%;
    font-size: x-large;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

.recherche-poke button[type="submit"] {
    margin-left: 5px;
    padding: 15px;
}

/* animation d'input */

.recherche-poke:focus-within label,
.recherche-poke.active-input label {
    top: -15px;
    padding-left: 5px;
    color: #f1f1f1;
}

/* Liste des cartes */

.container {
    width: 70%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.liste-poke li {
    width: 250px;
    height: auto;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liste-poke h2 {
    font-size: 19px;
}

.liste-poke p {
    font-size: 18px;
}

/* Bouton de retour */

.btn-home {
    width: 100%;
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    padding: 0.8rem 0rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-home span {
    margin: 0 0.5rem;
}

.btn-home a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
